@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #0a0a0a;
  --text-light: #f0f0f0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-dark);
  color: var(--text-light);
  font-family: Inter, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
